<!DOCTYPE html>
<html lang="pl">

  <head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Marcin Gorczyca - Praca Inzynierska</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/panel.css') }}">
  </head>

<body>
  <main id="main-holder">
  <h1 id="login-header">Podaj kod:</h1>
    <div id="output">
          <p>{{ invalidcode }}</p>
    </div>
    <form id="login-form" method="POST">
      <input type="text" name="text" id="username-field" class="login-form-input">
      <input type="password" name="password" id="password-field" class="login-form-input">
      <input type="submit" id="login-form-button" name="login-button" value="Login">
    </form>

  </main>
</body>

</html>